/*@font-face {
    font-family: "Corbel";
    src: url(assets/fonts/corbel.ttf);
    font-weight: 300;
}*/
@import url(http://fonts.googleapis.com/css?family=Corbel:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Clarendon:300,400,700,900);

body {
  font-family: "Corbel", Arial;
  color: #8b8b8d;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666666;
}
header .navbar-default ul.navbar-nav {
  padding-top: 24px;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-size: 18px;
  padding: 7px 20px;
  font-weight:400;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus,
header .navbar-default ul.navbar-nav li a:hover {
    color: #2d3897;
	font-weight:400;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled .navbar-brand img {
  width: auto;
  max-height: 49px;
}
header .navbar-default.scrolled ul.navbar-nav {
  padding-top: 7px;
}
.navbar-brand .logo {
    max-height: 80px;
	margin-left: 6px;
}
header .navbar-default ul.navbar-nav li a {
  color: #ff8000;
  background: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent !important;
    color: #2d3897;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #ff8000;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #2d3897;
}
header ul.navbar-nav .fa.fa-chevron-down {
    margin-left: 5px;
    font-weight: 100;
	font-size: 13px;
}
header ul.navbar-nav .dropdown-menu {
    margin-right: 18px;
}
header  nav.navbar.navbar-default.navbar-fixed-top {
    background: #fff;
}
header  .navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 20px;
}
header .navbar-fixed-top.scrolled .navbar-toggle {
  margin-top: 4px;
  margin-bottom: 4px;
}
.outer_banner_row {
    margin-top: 80px;
}
.slider_section h4 {
    margin-top: 20px;
}
.carousel-inner>.item>img {
    width: 100%;
    height: auto;
	min-height: 170px;
}
.slider_section .carousel-indicators {
    bottom: 0px !important;
}



.product_box {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
	margin: 15px 0  !important;
}
.about_service_boxes{
    margin: 70px 0;
}
.about_service_boxes .btn {
    background: #27292a;
    border: none;
    padding: 10px 30px;
}
.box_img_sec {
    height: 200px;
	max-width:400px;
    overflow: hidden;
	border: 1px solid #ccc;
}
.product_box:hover {
    background: #ff8000;
    margin: 0px -15px -15px -15px !important;
    z-index: 1;
    padding: 15px 15px 45px;
	color:#fff;
}
.product_box:hover  h3 {
    color: #fff;
}
.product_box:hover  .btn {
    color: #ff8000;
	background: #fff;
}
.search_bar .input-group {
    max-width: 600px;
    margin: 0 auto;
}
.search_bar {
    padding: 40px 15px;
    background: #ff8000;
}
.search_bar input.form-control {
    height: 50px;
    line-height: 50px;
    border-radius: 0;
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-size: 20px;
}
.search_bar button.btn.btn-default {
    border-radius: 0 10px 10px 0;
    border-color: #fff;
    color: #ff8000;
    font-size: 20px;
    padding: 10px 18px;
    margin-left: 2px;
}
.heading_sec h3 {
    margin: 30px 0;
	font-family: "Clarendon", Arial;
}
.heading_sec {
    margin: 0 15px;
}
.accordion {
	overflow:hidden;
	box-shadow:0px 1px 3px rgba(0,0,0,0.25);
	border-radius:3px;
	background:#f7f7f7;
}
.accordion-section-title {
	width: 100%;
    padding: 15px;
    display: inline-block;
    background: #ff8000;
    transition: all linear 0.15s;
    font-size: 22px;
    color: #fff !important;
	text-decoration: none !important;
	margin: 1px 0;
}
.accordion-section-title:active, .accordion-section-title:hover {
    background: #ff8000;
    color: #fff !important;
}
.accordion-section-content {
	padding:15px;
	display:none;
}
.accordion-section .accordion-section-content p {
    font-size: 18px;
}
.accordion-section-content.open {
    display: block;
}
.page_heading {
    margin-top: 40px;
}

/*-------go top------*/

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/*-------go top------*/



.contact_boxes input {
    background: #cccdce;
    border: none !important;
    border-radius: 0 !important;
    font-size: 18px !important;
    height: 40px !important;
    line-height: 40px !important;
	margin-bottom: 21px;
}
.contact_boxes textarea {
    background: #cccdce;
    border: none !important;
    border-radius: 0 !important;
    font-size: 18px !important;
	margin-bottom: 23px;
}
.contact_boxes .btn-send {
    float: right;
    line-height: 20px !important;
    padding: 5px 40px;
    font-size: 20px !important;
    background: #ff8000;
}
.contact_boxes {
    margin: 40px 0 60px;
}
.contact_address p {
    font-size: 16px;
	font-family: "Clarendon", Arial;
}
.imgover_contant {
    max-width: 730px;
    padding: 8% 15px;
    color: #fff;
    font-size: 18px;
}
.imgover_contant>h3 {
    background: rgba(255, 128, 0, 0.4);
    display: inline-block;
    padding: 10px;
	color: #fff;
}
.imgover_contant>p {
    background: rgba(255, 255, 255, 0.09);
    padding: 10px;
}

#tabs {overflow: hidden;width: 100%;margin: 0;padding: 0;list-style: none; text-align: center;}
#tabs li {display: inline-block; margin:}
#tabs li:first-child a {border-radius: 5px 0 0 5px;}
#tabs li:last-child a {border-radius: 0 5px 5px 0 !important;}
#tabs a {position: relative;background: #aaaaaa; padding: 10px 30px; float: left; text-decoration: none; color:#000; font-size: 18px;}
#tabs a:hover, #tabs a:hover::after, #tabs a:focus, #tabs a:focus::after {background: #aaaaaa;color: #000;}
#tabs a:focus {outline: 0;}
#tabs #current a {background: #ff8000;	z-index: 3; color: #fff;}
.testimonial-section-name img {
    max-width: 40px;
    border: 2px solid #000;
}
.testimonial-section {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #000;
}
.testimonial-section:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #000;
    border-width: 15px;
    margin-left: -15px;
}
.testimonial-section-name {
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
    color: #000;
}
#tesimonial-example-generic .carousel-indicators>li,#tesimonial-example-generic2 .carousel-indicators>li,#tesimonial-example-generic3 .carousel-indicators>li {
    color: #000;
    border-color: #000;
}


#speakers {
	text-align: center;	
}
#speakers img {
	width: 100%;
	max-width: 280px;
	border-radius: 50%; 
	border: 15px solid transparent; 
	box-shadow: 0 0px 6px 1px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
}	
#speakers .hover_img:hover img {
	border: 15px solid #2d3897;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;	
	transform: scale(1.1);
}
#speakers span {
	padding: 8px 20px;
    position: absolute;
    bottom: 25px;
    left: 20px;
    display: inline-block;
    background: #2d3897;
    border-radius: 0 16px 16px 0;
    font-size: 18px;
    color: #fff;
    min-width: 150px;
}
#speakers .hover_img:hover span {
    display: none !important;
}
#speakers .team_outer {
    margin: 30px 0;
}
#speakers .hover_img {
  position:relative !important;
  max-width: 280px;
  margin: 0 auto;
  border-radius: 50%;
}
#speakers ul {
    padding: 0;
    margin-top: 25px;
}
#speakers ul i.fa {
    color: #ff8000;
    font-size: 24px;
    padding: 0 5px;
}
#speakers ul i.fa:hover {
    color: #2d3897;
}
#speakers p {
    margin: 0 auto;
    font-size: 17px;
    max-width: 300px;
}
#speakers p:first-child {
    height: 45px;
}
#speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}
#speakers li a {color: rgba(0,0,0, 0.3); transition: all 0.1s ease-in;}
#speakers li a:hover {color: rgba(0,0,0, 0.7);}
#speakers .row2 {
	display: none;
}
#speakers .row2 p:first-child {
    height: inherit;
}
#speakers .row1 .col-md-3, #speakers .row2 .col-md-3 {
	padding-bottom: 40px;
}
#speakers button.btn.btn-transparent.fadeIn {
    background: #ff8000;
    color: #fff;
    font-size: 20px;
}
footer .copy_rights {
    background: #1c1e1f;
    padding: 15px 15px 5px 15px;
}
footer .social_icons i.fa {
    background: #27292a;
    font-size: 24px;
    padding: 8px;
    width: 35px;
    height: 32px;
    color: #8b8b8d;
	margin-top: 5px;
}
footer .social_icons i.fa:hover {
    background: #ff8000;
    color: #27292a;
}
footer .social_icons .scrollpoint {
    margin-right: 10px;
}
footer .social_icons .scrollpoint:last-child {
    margin-right: 0px;
}
footer .outer_footer {
    background: #161718;
}
footer  .footer_nav {
    padding: 0;
    list-style: none;
	margin-top: 20px;
}
footer  .footer_nav>li {
    display: inline-block;
    margin-right: 20px;
}
footer  .footer_nav>li:last-child {
    margin-right: 0px;
}
footer .footer_nav>li>a {
    text-decoration: none;
    color: #8b8b8d;
	line-height: 25px;
}
footer .footer_nav>li>a:focus, footer .footer_nav>li>a:hover {
    color: #ff8000;
}
footer .menu_list, footer .social_icons {
    display: inline-block;
	vertical-align: top;
	margin: 20px 0 20px;
}
footer .menu_list {
    width: calc(100% - 187px);
}
@media (max-width:991px){
header .navbar-default ul.navbar-nav li a {
    padding: 7px 10px;
}
footer .footer_nav>li>a {
    line-height: 40px;
}
}
@media (max-width:767px){
.product_box, .product_box:hover {
    max-width: 400px;
    margin: 15px auto !important;
}
.about_service_boxes {
    margin: 40px 0;
}
header .navbar-default ul.navbar-nav li a {
	text-align:center;
}
header .navbar-default ul.navbar-nav {
    padding-top: 0;
}
}
@media (max-width:550px){
footer .menu_list, footer .social_icons {
    display: block;
	width: 100%;
}
footer .footer_nav>li {
    display: inline-block;
	margin-right: 35px;
}
footer .footer_nav>li>a {
    line-height: 45px;
}
}
/* prinka css*/
.navbar-nav > li{
  position:relative;
}

.sub-menu {
    background: #ffffff;
    display: none;
    margin: 0;
    min-width: 200px;
    position: absolute;
    top: 30px;
    z-index: 1000;
	left: -19px;
    min-width: 170px;
    padding: 15px;
}

.navbar-nav > li:hover .sub-menu{
 display:block;
}


.menu-footer_menu-container .navbar-nav li > a {
    font-size: 14px;
}	

.sub-menu li {
  list-style:none;
}
.sub-menu a {
    color: #ff8000;
    display: inline-block;
    padding: 5px 10px !important;
    width: 100%;
	transition:.30s all;
}
.sub-menu a:hover {
    background: #dddddd none repeat scroll 0 0;
    color: #2D3897;
    text-decoration: none;
}
/* blog page*/

.blog_section .empaty_row {
    height: 80px;
}
.blog_section .blogout_line {
    border: 1px solid #ccc;
    padding: 0 10px 20px;
	margin-bottom: 30px;
}
.blog_section .blog_page_heading {
    margin: 45px 0;
}
.blog_section .blog_image {
    width: 100%;
}
.blog_section .well.well_new {
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
}
.blog_section .btn-primary {
    color: #fff;
    background-color: #ff8000;
    border-color: #ff8000;
}
.blog_section  a {
    text-decoration: none !important;
    color: #ff8000;
}
#speakers1 .inner_tab_row .txt_img {
    float: left;
    margin-top: 6px;
    margin-right: 10px;
	max-width: 410px;
}
#speakers1 .inner_tab_row {
    padding: 20px 30px;
    border: 1px solid #ccc;
	display: inline-block;
    width: 100%;
}
#speakers1 .inner_tab_row .text-style {
    font-size: 23px;
}
#speakers1 .roof-color {
    margin-top: 20px;
}
#speakers1 .roof-color p {
    margin: 10px 0 5px 0;
    font-weight: bold;
}
#speakers1 .btn_style a {
    background: #ff8000;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 30px;
    float: right;
	text-decoration: none;
}
#speakers1 .new-img-row .txt_img {
    margin: 20px auto 0;
    width: 100%;
}
#speakers1 .new-img-row p {
    text-align: center;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
	font-weight: bold;
}
#speakers1 .new-img-row .washing {
    width: 100%;
    margin-top: 20px;
}
#speakers1 .services_page>h3 {
    margin-top: 0;
}
#speakers1 .services_page {
    text-align: center;
    margin-bottom: 30px;
}
#speakers1 .gallery_sec img {
	filter: gray;
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	margin-bottom:20px;
	width: 100%;
}
#speakers1 .gallery_sec  .gallery_contant {
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
	margin-bottom:20px;
	width: 100%;
}
#speakers1 .gallery_sec .gallery_contant img{
	box-shadow: none;
	margin-bottom:0;
}
#speakers1 img.img-responsive {
    width: 100%;
}
#speakers1 gallery_sec img:hover {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}
#speakers1 .gallery_sec img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}
#speakers1 .gallery_sec {
    margin-top: 30px;
}
#speakers1 .gallery_sec .gallery_contant span {
    background: #aaaaaa;
    display: inline-block;
    width: 100%;
    color: #fff;
    padding: 5px;
    font-weight: bold;
}